:root {
    --primary-color-1: #1f1f1f;
    --primary-color-2: #303030;
    --primary-color-3: #4e4e4e;
    --secondary-color-1: white;
    --secondary-color-2: #d3d3d3;
    --secondary-color-3: #9c9c9c;
    --accent-color: #1ebd95;
    --transparent: #00000000;
}

html {
    scroll-behavior: smooth;
    min-width: 450px;
    max-height: none;
}

body {
    padding: auto;
    background-image: linear-gradient(var(--primary-color-2), var(--primary-color-1) 150%);
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 0;
}

header {
    text-align: center;
}


#profile {
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: fit-content;
}

.picture {
    display: flex;
    justify-content: center;
}

.picture img {
    max-height: 250px;
    max-width: 250px;
    border-radius: 50%;
    justify-items: center;
}

.contact {
    display: flex;
    justify-content: center;
}

.contact img {
    max-height: 30px;
    max-width: 30px;
    padding: 5px;
    justify-items: center;
}

.contact a {
    color: transparent;
}

section {
    margin-top: 10em;
    padding-top: 5em;
}

#me-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.intro {
    max-width: 60%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.intro a, .project-link, .link-button{
    text-decoration: none;
    color: var(--secondary-color-2);
    border: 4px solid var(--accent-color);
    border-radius: 35px;
    padding: 8px 16px 8px 16px;
    margin: 1em 0 0 0;
    font-size: 2vh;
    max-width: max-content;
    display: flex;
    flex-direction: row;

    background: linear-gradient(to left,  var(--transparent) 50%, var(--accent-color) 50%) right;
    background-size: 200%;
    transition: .15s ease-out;
}

.link-button:hover, .project-link:hover{
    background-position: left;
    color: var(--secondary-color-1);
}

.link-button > img, .project-link > img{
    max-width: 20px;
    margin: 0 0.5em 0 0;
}

#skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 70%;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    width: 80%;
}

.skills-container, .project-grid {
    background-image: linear-gradient(var(--primary-color-3), var(--transparent));
    margin: 1em;
    padding: 2em;
    border-radius: 0.5em;
}

@media screen and (max-width: 1200px) {
    .skills-containers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-grid {
        grid-template-columns: 1fr;
        padding: 0 0 20em 0;
    }
}

@media screen and (max-width: 800px) {
    .project-grid {
        grid-template-columns: 1fr;
        padding: 0 0 20em 0;
    }

    #me-section {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .skills-containers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .project-grid {
        grid-template-columns: 1fr;
        padding: 0 0 20em 0;
    }
}

@media screen and (min-width: 1200px) {
    .skills-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .project-grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 0 5em 0;
    }
}

.skills-grid {
    display: grid;
    max-width: 100%;
    max-height: 100%;
}

.skills-grid img {
    max-height: 70px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    margin: 1em;
    text-align: center;
}

.skill:hover {
    transform: scale(1.05);
}

.skill:hover p {
    color: var(--secondary-color-1);
}

.progress-label {
    margin-right: 1rem;
}

#projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

.project-grid {
    display: grid;
    max-width: 70%;
    row-gap: 5%;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 0;
    padding: 10px;
    justify-self: center;
    justify-content: space-between;
    text-align: center;
}

.project-link {
    align-self: center;
}

.project * {
    padding: 2px;
    margin: 2px;
}

.project img {
    max-width: 90%;
    min-width: none;
    border-radius: 0.5em;
}

@media screen and (max-width: 500px) {
    .project-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 501px) {
    .project-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.project-link {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 8px;
    padding-right: 16px;
    border-width: 1px;

    border: 4px solid var(--accent-color);
    border-radius: 35px;
}

.project-link img {
    max-width: 30px;
    max-height: 30px;
    margin: 0em 0.3em 0em 0.3em;
}

.project-links a {
    color: #c9c9c9;
    text-decoration: none;
}

.project > a:hover {
    filter: drop-shadow(0 0 25px var(--accent-color));
    transform: scale(1.025);
}

.project:hover {
    background-image: linear-gradient(#ffffff2f, var(--transparent));
}

.project:hover h2, .project:hover p {
    color: var(--secondary-color-1);
}

.more {
    margin-top: auto;
    display: block;
}

.main-text {
    color: var(--secondary-color-2);
    font-family: "Roboto", sans-serif;
    font-size: 3vh;
}

.sub-text, .project-link, .link-button{
    color: var(--secondary-color-3);
    font-family: "Roboto", sans-serif;
    font-size: 2vh;
}

.name {
    font-size: 5vh;
}

.green-color {
    color: var(--accent-color);
}

.green-bg {
    background-color: var(--accent-color);
}

nav {
    position: fixed;
    background-color: var(--primary-color-1);
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
    z-index: 1;
}

nav a {
    padding: 0.4em;
    text-underline-offset: 10px;
    text-decoration: none;
    transition: font-size 0.25s;
}

nav a:hover {
    font-size: 3.25vh;
    transition: font-size 0.25s;
}

.nav-focus {
    color: #1ebd95;
    font-size: 3.25vh;
    text-decoration: underline;
    transition: font-size 0.25s;
}

footer {
    background-color: var(--primary-color-1);
    text-align: center;
    margin: 0;

}

#contacts-section {
    margin-top: 0;
    padding: 10em 10em 7em 10em;
}

.contacts {
    justify-content: left;
    padding: 10em 0 10em 0;
    max-width: 100%;
}

.contacts p {
    color: var(--secondary-color-2);
}

.contacts a:hover {
    color: var(--secondary-color-1);
}
.contacts a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contacts a img {
    margin: 0.5em;
}

.contact-link img {
    max-width: 30px;
    max-height: 30px;
}

#contacts-section > .animation > img {
    filter: drop-shadow(0 0 75px var(--secondary-color-1));
    max-width: 150px;
    max-height: 150px;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0f0f0f;
    padding: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary-color-3);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color-2);
}